html, body{
    margin: 0px;
    background-color: #DDE2C6;
    user-select: none;
}

#sideBar{
    position: fixed;
    background-color: #334139;
    width: 17vh;
    height: 100vh;
    margin-top: 30px;

}

.sideBarAttribute{
    display: inline-block;
    width: 78%;
    margin: 0px;
    padding: 10%;
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
    border: 1px solid black;
    color: black;
}

.sideBarAttribute:hover{
    background-color: #232925;
}

#topMenu{
    background-color: #32936F;
    width: 100%;
    margin: 0px;
    position: fixed;
    z-index: 9999;
}

#titleText{
    font-size: 4vh;
    text-align: center
}

#StateParkBoxWrapper{
    display: inline-block;
    margin-top: 40px;
    margin-left: 140px;
}


h1{
    margin: 0px;
}
