<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Coopers Rock State Forest</title>
        <link rel="stylesheet" href="StateForests.css">
    </head>
    <body>
        <div class="StateForestHeader">
            <div class="StateForestHeaderItems">
                <div class="StateForestTitle">
                <h3>Coopers Rock State Forest</h3>
            </div>
                <div class="StateForestHeaderButtons">
                    <div class="StateForestHeaderHome">
                        <a>Home</a>
                    </div>

                    <div class="dropdown">
                      <button class="dropbtn">Find State Forests</button>
                      <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="StateForestBody">
            <div class="BehindTitle"></div>
            <h2>Picture Feed:</h2>
            <br>
            <div class="StateForestPictures">
                <img src="CoopersRockPage1.jpg">
                <img src="CoopersRockPage2.jpg">
            </div>

            <br>
            <br>

            <h2>About Coopers Rock State Forest:</h2>
            <br>
            <div class="StateForestAbout">
                <h3>Coopers Rock State Forest is located along the Cheat River Gorge and is scattered with overlooks and massive outcroppings of rock.
                    The park is named after a fugitive who was a cooper by trade.
                    He allegedly fled from the law and hid out near the overlook and sold his barrels to people nearby for multiple years.
                   <br><br>
                    Enormous borders encompass many of the hiking trails, and there is also a fishing pond within the State Forest that is stocked with trout.
                    Along with hiking, rock climbing, and fishing, visitors also have the opportunity to go camping here. There is also a gift shop.
                </h3>
            </div>

        </div>
    </body>
</html>