<!DOCTYPE>

<html>
    <head>
        <title>CAC 2022</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='mainPage.css') }}">
    </head>

    <body>
        <div id="topMenu">
            <div id="titleText">
                <h1>West Virginia State Parks</h1>
            </div>

            <div id="titleImg">
                <img id="LogoImg" src="{{ url_for('static', filename='SpaghettiCodeInc.png') }}">
            </div>

        </div>

        <div id="sideBar">
            <a class="sideBarAttribute">Home</a> <br>
            <a class="sideBarAttribute">Find State Parks</a> <br>
            <a class="sideBarAttribute">Maps</a> <br>
            <a class="sideBarAttribute">Info</a> <br>
            <a class="sideBarAttribute">Creators</a> <br>
        </div>

    </body>
</html>