<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />

        <title>{{ title }} State Forest</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='StateForests.css')}}">

       <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mapbox-gl/1.13.1/mapbox-gl.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mapbox-gl-leaflet/0.0.15/leaflet-mapbox-gl.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mapbox-gl/1.13.1/mapbox-gl.min.css" />
    
    </head>
    <body>
        <header class="StateForestHeader">
            <div class="StateForestHeaderItems">
                <div class="StateForestTitle">
                <h3>{{ title }} State Forest</h3>
            </div>
                <div class="StateForestHeaderButtons">
                    <div class="StateForestHeaderHome">
                        <a href="{{ url_for('views.Home') }}">Home</a>
                    </div>

                    <div class="dropdown">
                      <button class="dropbtn">Find State Forests</button>
                      <div class="dropdown-content">
                        <a href="{{ url_for('views.CoopersRock') }}">Coopers Rock</a>
                        <a href="{{ url_for('views.Greenbrier') }}"">Greenbrier</a>
                        <a href="#">Link 3</a>
                      </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="StateForestBody">
            <div class="BehindTitle"></div>
            <h2>Picture Feed:</h2>
            <br>
            
            <div id="StateForestPictures">
            </div>

            <br>
            <br>

            <h2>About {{ title }} State Forest:</h2>
            <br>
            <div class="StateForestAbout">
                {% block about%}
                {% endblock %}
            </div>

            <div id="mapSection">
                <h2>{{ title }} Live Map:</h2>
                <br>
                <div id="map">
                    <a href="https://www.maptiler.com" style="position:absolute;left:10px;bottom:10px;z-index:999;"><img src="https://api.maptiler.com/resources/logo.svg" alt="MapTiler logo"></a>
                </div>

                {% if current_user.is_authenticated%}
                <button id=uploadPictureButton onclick="unveilUploadForm()">Toggle Upload Form</button>
                {% else %} 
                <a id=uploadPictureButton href="{{ url_for('auth.SignUp') }}"> Sign Up To Upload Pictures </a>
                {% endif %}
            </div>

            <form method="POST" id="uploadForm" enctype="multipart/form-data">
                <h3 align="center">Upload Picture</h3>
                <div class="uploadWrappers">
                    <label id="uploadLabelImage"> Enter your image: </label>
                    <input type="file" name="Image" id="uploadInputImage">
                </div>
                <div class="uploadWrappers">
                    <label id="uploadLabelDescription"> Description: </label>
                    <input id="uploadInputDescription" type="text" placeholder="Description of picture taken." name="Description">
                </div> 
                <div class="uploadWrappers">
                    <button onclick="getLocation()" type="button" id="uploadButtonLocation">Upload Current Location</button>
                    <input name="Location" type="text" id="uploadInputLocation" placeholder="Hit 'Upload Location'">
                </div>
                <button type="submit" id="uploadSubmit">Upload To Map</button>
            </form>

        </div>


        <script src="{{ url_for('static', filename='map.js')}}"></script>
        <script src="{{ url_for('static', filename='StateForests.js')}}"></script>

        <script>
            makeMap({{latitude}}, {{longitude}});
            var myData = {{ markers|tojson }};
            setTimeout(setMarkers, 1000)
            function setMarkers(){
                for(var i = 0; i < myData.length; i++){
                    uploadImage(myData[i][0], myData[i][1], myData[i][2], myData[i][3]);
                }
            }

            function uploadImage(id, date, location, description){
                position = location.split(":")
                var marker = L.marker([position[0], position[1]]).addTo(map);

                id = id.replace(" ", "_");
                id = id.replace(":", "");
                id = id.replace(":", "");

                marker.bindPopup("<b>" + date + "<br>" + description + "</b>  <br> <img src='static/UPLOAD_FOLDER/" + id + "'>");
                addImageToPictureFeed(id);

                console.log(id)
            }

            function addImageToPictureFeed(id){
                var img = document.createElement("img");
                img.src = "static/UPLOAD_FOLDER/" + id;

                var block = document.getElementById("StateForestPictures");
                block.appendChild(img);
            }

        </script>

    </body>
</html>