{% extends 'base.html' %}

{% block about %}
<h3>
Cabwaylingo State Forest encompasses 8,123 acres of forest in primarily Wayne County, WV. The Forest was restored during the 1940's and 1930's by the 
Civilian Conservation Corp(CCC), as well as many of the facilities being built, which includes log cabins, picnic areas, hiking trails, and even a fire tower. 
The name Cabwaylingo is derived from the counties CABell, WAYne, LINcoln and MinGo.
<br> <br>
The forest holds annual events including a Cabwaylingo Forest Festival and a haunted house.
</h3>
{% endblock %}