{% extends 'base.html' %}

{% block about %}
<h3>
Calvin Price State Forest includes over 9,400 acres located in Pocahontas County, and also partially into Greenbrier county. 
This State Forest is the most recent to have been added to the West Virginia State Forest System.
<br> <br>
In the 1930s, early settlers harvested almost all of the trees in the Greenbrier River Valley and then used the land for livestock. 
The land was purchased in 1953 but was never really developed into anything other than a few hiking trails through the now wooded area.
<br> <br>
Foresters in Calvin Price have harvested the trees from these woodlands 3 times since 1953, 
averaging 355 acres and 1.2 million board feet every time. These harvests are done to maintain the growth and health of the Forest.
</h3>
{% endblock %}