{% extends 'base.html' %}

{% block about %}
<h3>
Camp Creek State Forest consists of nearly 5,300 acres of wooded area. Primary activities here include hunting and fishing in Camp Creek, 
which is one of best stocked trout streams in the state. The scenery offers gorgeous views of southern West Virginia mountains.
<br> <br>
Camp Creek has 3 separate campgrounds, one of which accommodates horses as well as people. Visitors can enjoy about 35 miles of horseback trails. 
There is also a gift shop located in the park office.
</h3>
{% endblock %}