<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />

        <title>Coopers Rock State Forest</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='StateForests.css')}}">

       <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mapbox-gl/1.13.1/mapbox-gl.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mapbox-gl-leaflet/0.0.15/leaflet-mapbox-gl.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mapbox-gl/1.13.1/mapbox-gl.min.css" />
    </head>
    <body>
        <header class="StateForestHeader">
            <div class="StateForestHeaderItems">
                <div class="StateForestTitle">
                <h3>Coopers Rock State Forest</h3>
            </div>
                <div class="StateForestHeaderButtons">
                    <div class="StateForestHeaderHome">
                        <a href="{{ url_for('views.Home') }}">Home</a>
                    </div>

                    <div class="dropdown">
                      <button class="dropbtn">Find State Forests</button>
                      <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                      </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="StateForestBody">
            <div class="BehindTitle"></div>
            <h2>Picture Feed:</h2>
            <br>
            <div class="StateForestPictures">
            </div>

            <br>
            <br>

            <h2>About Coopers Rock State Forest:</h2>
            <br>
            <div class="StateForestAbout">
                <h3>Coopers Rock State Forest is located along the Cheat River Gorge and is scattered with overlooks and massive outcroppings of rock.
                    The park is named after a fugitive who was a cooper by trade.
                    He allegedly fled from the law and hid out near the overlook and sold his barrels to people nearby for multiple years.
                   <br><br>
                    Enormous borders encompass many of the hiking trails, and there is also a fishing pond within the State Forest that is stocked with trout.
                    Along with hiking, rock climbing, and fishing, visitors also have the opportunity to go camping here. There is also a gift shop.
                </h3>
            </div>

            <div id="mapSection">
                <h2>Coopers Rock Live Map:</h2>
                <br>
                <div id="map">
                    <a href="https://www.maptiler.com" style="position:absolute;left:10px;bottom:10px;z-index:999;"><img src="https://api.maptiler.com/resources/logo.svg" alt="MapTiler logo"></a>
                </div>
                <button id="uploadPictureButton" onclick="unveilUploadForm()">
                    {%if current_user.is_authenticated%}
                    Toggle upload form
                    {%else%}
                    Sign In To Upload Picture
                    {%endif%}
                </button>
            </div>

            <form method="POST" id="uploadForm" enctype="multipart/form-data">
                <h3 align="center">Upload Picture</h3>
                <div>
                    <label> Description: </label>
                    <input type="text" placeholder="Description of picture taken." name="Description">
                </div> 
                <div>
                    <label> Date: </label>
                    <input type="text" placeholder="mm/dd/yyyy" name="Date">
                </div>
                <div>
                    <label> Enter your image: </label>
                    <input type="file" name="Image">
                </div>
                <div>
                    <button onclick="getLocation()" type="button">Upload Current Location</button>
                    <input name="Location" type="text" id="fillLocation">
                </div>
                <button type="submit">Submit your form</button>
            </form>

        </div>

        <script src="{{ url_for('static', filename='map.js')}}"></script>
        <script src="{{ url_for('static', filename='StateForests.js')}}"></script>
    </body>
</html>