{% extends 'base.html' %}

{% block about %}
<h3>
Greenbrier State Forest is located near the Virginia Border in southeastern West Virginia. 
This forest features over 5,100 acres of heavily forested mountainous terrain and is used for outdoor recreational activities. 
<br><br>
The grounds feature cabins that visitors can rent featuring electric lighting, a fireplace, fully equipped kitchen and a bath. 
In addition, the forest has designated campgrounds.
<br><br>
For water activities guests can enjoy the forest's heated pool and wading pool for children. 
Located along the Greenbrier River, the park also offers great fishing spots and seasonal hunting.
<br><br>
Other Attractions in the area include: Historic Lewisburg, Greenbrier River Trail, Moncove Lake State Park, Organ Cave, Lost World Caverns, 
National Fish Hatchery, Old Stone Church, the North House museum, and more.
</h3>
{% endblock %}
