<!DOCTYPE html>

<html>
    <head>
        <title>Info</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Info.css') }}"> 
    </head>
    <body>
        <div id="topBar">
            <div id="Title">
                <a href="{{ url_for('views.Info') }}">State Forest App</a>
            </div> 

            <div id="StateView">
                <a href="{{ url_for('views.StateView') }}">State View</a>
            </div>
            <div id="Boxes">
                <a>Boxes</a>
            </div>
            <div id="UploadedPictures">
                <a href="{{ url_for('views.Uploads') }}">Uploaded Pictures</a>
            </div>
            <div id="SignIn">
                <a id="SignInText" href="{{ url_for('auth.SignUp') }}">Sign In</a>
            </div>
        </div>

        <div id="Body"> 

        </div>

    </body>
</html>