<!DOCTYPE html>

<html>
    <head>
        <title>Info</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/Info.css') }}"> 
    </head>
    <body>
        <div id="topBar">
            <div id="Title">
                <a>Title</a>
            </div> 

            <div id="StateView">
                <a>State View</a>
            </div>
            <div id="Boxes">
                <a>Boxes</a>
            </div>
            <div id="UploadedPictures">
                <a>Uploaded Pictures</a>
            </div>
            <div id="SignIn">
                <a id="SignInText">Sign In</a>
            </div>
        </div>

    </body>
</html>