{% extends 'base.html' %}

{% block about %}
<h3>
Kanawha State Forest claims 9,300 acres and is located just south of the State's capital. This close proximity to Charleston has made it a haven for recreational activities. 
The Forest offers picnic locations, hiking, mountain biking, and skiing opportunities. The park also has a swimming pool and playground, as well as a campground.
<br> <br>
Hunting and fishing are available to licensed individuals in certain areas of the forest. Fishing areas include: Kanawha River, Ridenour Park, Coonskin Park, and Wine Cellar Park.
</h3>
{% endblock %}