{% extends 'base.html' %}

{% block about %}
<h3>
Kumbrabow State Forest is along the western side of the allegheny Highlands on top of Rich Mountain. It has  over 9,400 acres of forest over 3,000 feet above sea level 
making it the state's highest forest. The name comes from a mixture of the names of the three families who purchased the land in 1934. Kump, Brady, and Bowers.
<br> <br>
Wildlife at Kumbrabow includes: black bears, turkeys, deer, grouse, bobcat, and lots of birds. 
Kumbrabow is known for black cherry and red spruce, as well as mountain laurel and rhododendron. 
<br> <br>
Kumbrabow's facilities include cabins, campsites, a bathhouse, and picnic areas.
</h3>
{% endblock %}