<!DOCTYPE html>

<html>
    <head>
        <title>My Uploads</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/mainPage.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/MyUploads.css') }}"
        <script src="{{ url_for('static', filename='Javascript/Home.js') }}"></script>
    </head>

    <body>
        <div id="topMenu">
            <div id="titleText">
                <h1>West Virginia State Forests</h1>
            </div>

            <div id="titleImg">
                <img id="LogoImg" src="{{ url_for('static', filename='Images/SpaghettiCodeInc.png') }}">
            </div>

        </div>

        <div id="sideBar">
            <a class="sideBarAttribute" href="{{ url_for('views.Home') }}"> Home</a>

            {%if not current_user.is_authenticated %}
            <a class="sideBarAttribute" href="{{ url_for('auth.SignUp') }}">
            Sign Up or Login
            </a> <br>
            {% else %}
            <a class="sideBarAttribute" href="{{ url_for('views.Uploads') }}">
            Uploaded pictures
            </a> <br>
            {% endif %}

            <a class="sideBarAttribute">Maps</a> <br>
            <a class="sideBarAttribute">Info</a> <br>
            <a class="sideBarAttribute">Creators</a> <br>
        </div>

        
        <div id=MyUploads>

        </div>

        <script>

            {% for upload in user.uploadsCR %}
            var id = "{{ upload.id }}";
            var date = "{{ upload.date }}";
            var description = "{{ upload.description }}"

            id = id.replace(" ", "_");
            id = id.replace(":", "");
            id = id.replace(":", "");

            addImageToPictureFeed(id, date, description, "Coopers Rock");

            console.log(date)

            {% endfor %}

            function addImageToPictureFeed(id, date, description, title){

                var div = document.createElement("div");
                div.id = "UploadedImages"

                var img = document.createElement("img");
                img.src = "static/UPLOAD_FOLDER/" + id;
                img.id = "UploadedImage";

                var dates = document.createElement("h4");
                dates.innerHTML = title + ": " + date;
                dates.id = "UploadDate";

                var descriptions = document.createElement("p");
                descriptions.innerHTML = description;
                descriptions.id = "UploadDescription";

                div.appendChild(img);
                div.appendChild(dates);
                div.appendChild(descriptions);

                var block = document.getElementById("MyUploads");
                block.appendChild(div);

            }
        </script>

    </body>
</html>