<!DOCTYPE>

<html>
    <head>
        <title>CAC 2022</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='mainPage.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='ButtonBox.css') }}">
    </head>

    <body>
        <div id="topMenu">
            <div id="titleText">
                <h1>West Virginia State Parks</h1>
            </div>

            <div id="titleImg">
                <img id="LogoImg" src="{{ url_for('static', filename='SpaghettiCodeInc.png') }}">
            </div>

        </div>

        <div id="sideBar">
            <a class="sideBarAttribute">Home</a> <br>
            <a class="sideBarAttribute">Find State Parks</a> <br>
            <a class="sideBarAttribute">Maps</a> <br>
            <a class="sideBarAttribute">Info</a> <br>
            <a class="sideBarAttribute">Creators</a> <br>
        </div>

        <div class="StateParkBox">
            <img src="{{ url_for('static', filename='CoopersRock.jpg') }}" class="StateParkImg">

            <div class="StateParkUnderTitle">
                <p class="StateParkTitle" >Cooper Rock State Forest</p>

                <p class="StateParkAbout" >A place to find the best views in West Virginia. The forest contains
                12,747 acres through Monongalia and Preston County.
                This park offers many activities where you can relax and have fun.</p>

            </div>
        </div>



    </body>
</html>