<!DOCTYPE html>

<html>
    <head>
        <title>CAC 2022</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/mainPage.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/StateView.css') }}">
        <script src="{{url_for('static', filename='Javascript/Home.js')}}"></script>
    </head>

    <body>
        <div id="topMenu">
            <h1 id="titleText">West Virginia State Forests</h1>
        </div>

        <div id="sideBar">
            
            <a class="sideBarAttribute" href="{{ url_for('views.Home') }}"> Home</a>

            {%if not current_user.is_authenticated %}
            <a class="sideBarAttribute" href="{{ url_for('auth.SignUp') }}">
            Sign Up or Login
            </a> <br>
            {% else %}
            <a class="sideBarAttribute" href="{{ url_for('views.Uploads') }}">
            Uploaded pictures
            </a> <br>
            {% endif %}

            <a class="sideBarAttribute" href="{{ url_for('views.StateView') }}">State View</a> <br>
            <a class="sideBarAttribute">Info</a> <br>

            {% if current_user.is_authenticated %}
            <a class="sideBarAttribute" href="{{ url_for('auth.logout') }}"> Sign Out</a>
            <br>
            {% endif %}

        </div>



        <div id="StateParkBoxWrapper">
            <div id="container">
                <div class="remix-app" hash="95d3875ab1b41389">
                    <script src="https://p.interacty.me/l.js" async></script>
                </div>
            </div>
        </div>

    </body>
</html>